<div class="panel panel-fault">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %> 
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>          
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr><td><strong>Title:</strong>
                <%= @movie.title%></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description%></td>
              </tr>
              <tr>
                <td><strong>Movie Lenght:</strong></td>
                <td><%= @movie.movie_length%></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director%></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating%></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_movie_review_path(@movie) %>

        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
      <h1 class="review_title"><%= @movie.title %></h1>
      <p><%= @movie.description %></p>

      <% if @reviews.blank? %>
        <h3>No reviews just yet, would you like to add the first!</h3>
        <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="review-rating" data-score="<%= review.rating %>" </div>
          </div>            
          <br>
          <p><%= review.comment %></p>
          <%= link_to 'Edit', edit_movie_review_path(@movie,review) %> 
          <%= link_to 'delete', review_d_movie_path(review) ,method: :delete, data: {confirm:'are you sure'},class:"btn btn-primary" %>    
          
         <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
<%= link_to 'delete', movie_path(@movie) ,method: :delete, data: {confirm:'are you sure'},class:"btn btn-primary" %>    


<script>
    $('.review-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
