<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
  <%= render partial: 'layouts/flash' , flash: flash %>
  </div>

  <%= yield %>

  </body>

</html>
